<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SYCScreensaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <SYCScreensaver.Properties.Settings>
            <setting name="urldefault" serializeAs="String">
                <value>http://www.syc.com.co</value>
            </setting>
        </SYCScreensaver.Properties.Settings>
    </userSettings>
</configuration>
